.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: rgb(182, 195, 240);
}

.header_left{
    display: flex;
    align-items: center;
}

.header_left > img{
    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}

.header_middle{
    display: flex;
    align-items: center;
    flex: 0.7;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.header_middle > .MuiSvgIcon-root {
    color: grey;
}

.header_middle > input{
    border: none;
    width: 100%;
    padding: 3px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.header_right{
    display: flex;
    align-items: center;
    padding-right: 15px;
}